button {
  padding: 20px;
  text-transform: uppercase;
  color: white;
  background-color: tomato;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 5px black;
}

button:active {
  position: relative;
  top: 2px;
  left: 1px;
  box-shadow: 2px 2px 2px black;
}

h1 {
  text-shadow: 5px 5px 5px black;
}

@media screen and (max-width: 600px) {
  button {
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px black;
  }

  h1 {
    font-size: 1.8rem;
  }
}
